.hero{
    height: 100vh;
    background-size: cover; /* Cobrir todo o espaço do elemento */
    background-position: center;
    background-image: url('../Assets/xde.jpg');
    display: flex;


}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: white;
    font-size: 26px;
    font-weight: 600;
}


.hero-left p{
    color: #ffffff;
    font-size: 100px;

}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;


}

.hero-hand-icon img{
    width: 105px;

}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 76px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Estilos para telas pequenas (celulares) */
@media screen and (max-width: 600px) {
    .hero {
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10%; /* Reduzindo o espaçamento */
        height: 100vh;
    }

    .hero-left h2 {
        
        font-size: 20px; /* Tamanho menor para telas pequenas */
    }

    .hero-left p {
        font-size: 36px; /* Tamanho maior para telas pequenas */
    }

    .hero-hand-icon {
        gap: 10px; /* Espaçamento menor entre os ícones */
    }

    .hero-hand-icon img {
        width: 80px; /* Tamanho menor para telas pequenas */
    }

    .hero-latest-btn {
        width: 100%; /* Largura total */
        color: #ffffff;
        cursor: progress;
    }

}
